.Timebox {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1.5rem;
}

h2 {
  color: orangered;
}

.ProgressBar {
  border: 1px solid orangered;
  border-radius: 5px;
  height: 2rem;
  margin-bottom: 20px;
  padding: 5px;
}

.ProgressBar::before {
  content: "";
  float: right;
  background-color: orangered;
  height: 100%;
  width: calc(100% - var(--width))
}

.ProgressBar::after { 
  content: '';
  text-align: center;
  margin: auto;
  color: blue;

}