:root {
  --width: 25%;
}

.TimeboxEditor {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  text-align: right;
}

label > input {
  width: 60%;
  margin-left: 1rem;
}

button {
  font-size: 16px;
  margin-left: 10px;
}